/* Universal Styles */
*,
*::before,
*::after {
  border: 0;
  box-sizing: inherit;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 2.4rem;
}

ul,
li {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: hsl(22, 100%, 48%);
  --bg-black: #1c1a19;
  --dark-font-color: #172b4d;
  --footer-icon-color: #505f79;
  --form-blurb-color: #262626;
  --header-color: #3c3a39;
  --form-text-color: #979493;
  --hero-icon-color: #dbd8d7;
  --area-bg-color: #fbf8f7;
  --white-font: #fff;
}

@keyframes pulse {
  from {
    transform: scale(100%);
  }

  50% {
    transform: scale(110%);
  }

  to {
    transform: scale(100%);
  }
}

@keyframes bounceInLeft {
  from {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(10%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes bounceInRight {
  from {
    transform: translateX(200%);
  }
  50% {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes fade-In {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.grid {
  display: grid;
  grid-template-columns: [full-start] minmax(2.4rem, 5vw) [center-start] 1fr [center-end] minmax(2.4rem, 5vw) [full-end];
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: [full-start] minmax(2.4rem, 10vw) [center-start] 1fr [center-end] minmax(2.4rem, 10vw) [full-end];
  }
}

.grid-item {
  grid-column: center-start / center-end;
}

/* components */
.card {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.heading {
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
}

.blurb {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.btn {
  color: var(--white-font);
  background-color: var(--primary-color);
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1.2rem;
  transition: all .5s ease;
}

.btn:hover {
  color: var(--primary-color);
  background-color: hsl(22, 100%, 92%);
  border: 1px solid var(--primary-color);
}

.btn:active {
  color: var(--white-font);
  background-color: hsl(22, 100%, 42%);
}

.btn:disabled {
  color: hsla(360, 1%, 20%, 0.7);
  background-color: hsla(360, 1%, 50%, 0.3);
  border: none;
}

.badges {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.badge {
  list-style: none;
  padding: 1.2rem;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0 1.2rem;
  list-style: none;
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: var(--white-font);
}

@media screen and (min-width: 768px) {
  .icon:hover {
    animation: 1.5s infinite pulse;
  }
}

/* Header Section */
.header {
  background-color: var(--header-color);
  color: var(--white-font);
  min-height: 4.8rem;
  position: sticky;
  top: 0;
  z-index: 2;
  transform: translateY(-0.1rem);
}

.header .grid-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 1.8rem;
  font-weight: 500;
  animation: 2s fade-In, 3s ease-in-out bounceInLeft;
  transition: color 1s, transform 1s;
}

.header .logo:hover {
  color: var(--primary-color);
  transform: scale(110%);
}

.header .nav {
  display: flex;
  gap: 3.6rem;
  align-items: center;
}

.header .nav .menu {
  margin: 0;
  transform: translateY(0.2rem);
}

.header .item,
.header .nav .menu {
  list-style: none;
}

.header .nav .item,
.header .nav .menu .icon--d {
  display: none;
}

.header .nav .menu .icon--m {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .header .logo {
    font-size: 2rem;
    font-weight: 700;
    animation: 2s fade-In, 3s ease-in-out bounceInLeft;
  }

  .header .item {
    transition: animation  2s;
  }

  .header .item:hover,
  .header .icon:hover {
    animation: 1.5s infinite pulse;
  }

  .header .nav {
    animation: 2s fade-In, 3s ease-in-out bounceInRight;
  }

  .header .nav .item,
  .header .nav .menu .icon--d {
    display: inline-block;
  }

  .header .nav .menu .icon--m {
    display: none;
  }
}

/* Hero Section */
.hero {
  background: var(--bg-black) url(./images/hero_bg_m.png) no-repeat bottom -4.2rem right;
  color: var(--white-font);
}

@media screen and (min-width: 768px) {
  .hero {
    background: var(--bg-black) url(./images/hero_bg_d.png) no-repeat top right;
    background-size: 80vh;
  }
}

.hero-grid {
  position: absolute;
  top: 0;
  width: 100vw;
}

.hero .grid-item {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: baseline;
  gap: 2.4rem;
  height: 100vh;
  padding: 12rem 0 12rem;
}

@media screen and (min-width: 768px) {
  .hero .grid-item {
    max-width: 50%;
    padding: 0;
    justify-content: center;
  }

  .hero .grid-item .socials {
    position: absolute;
    left: 2.4rem;
    bottom: 34vh;
    flex-direction: column;
    animation: 2s fade-In, 3s ease-in-out bounceInLeft;
  }
}

.hero .heading {
  color: var(--primary-color);
  font-size: 5.6rem;
  line-height: 6.4rem;
  display: flex;
  flex-wrap: wrap;
}

.hero .subheading {
  font-size: 2.4rem;
  font-weight: 500;
}

.hero .blurb {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--area-bg-color);
}

@media screen and (min-width: 768px) {
  .hero .blurb {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}

/* Recent Works Section */
.recent-works {
  position: relative;
  top: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  row-gap: 2.4rem;
  z-index: 1;
}

/* Heading */
.recent-works .heading {
  grid-column: center-start / center-end;
  display: flex;
  align-items: center;
  margin: 3.6rem 0;
  gap: 2.4rem;
  flex-wrap: wrap;
  color: var(--dark-font-color);
}

.recent-works .heading .title {
  font-size: 4rem;
  font-weight: 400;
}

.recent-works .heading .line {
  border: 1px solid var(--bg-black);
  flex: 1;
  min-width: 32.7rem;
}

/* feature Project */
.recent-works .feature {
  grid-column: center-start / center-end;
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}

.recent-works .feature .img {
  max-width: 100%;
  flex: 1;
}

@media screen and (min-width: 768px) {
  .recent-works .feature .img {
    max-width: 60%;
  }
}

.recent-works .feature .card {
  flex: 1;
}

.recent-works .feature .heading {
  font-size: 3.2rem;
  font-weight: 400;
  margin: 0;
}

.recent-works .feature .badge {
  border: 1px solid var(--bg-black);
}

.recent-works .feature .btn {
  width: fit-content;
}

/* Project Grid */
.recent-works .projects {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2.4rem;
}

.recent-works .projects .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2.4rem;
  color: var(--white-font);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(250, 250, 250, 0.1)), url(./images/project_bg_pro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 7rem;
}

.recent-works .projects .card {
  animation: 2s fade-In, 3s bounceInLeft;
}

.recent-works .projects .card .heading,
.recent-works .projects .card .blurb,
.recent-works .projects .card .badges {
  margin: 0 1.2rem;
}

.recent-works .projects .card .heading {
  color: var(--white-font);
  font-size: 3.2rem;
  font-weight: 400;
}

.recent-works .projects .card .badge {
  color: var(--white-font);
  background-color: rgba(250, 250, 250, 0.3);
}

@media screen and (min-width: 768px) {
  .recent-works .projects .card .blurb {
    font-size: 1.7rem;
  }

  .recent-works .projects .card .badges {
    padding-bottom: 1.2rem;
  }

  .recent-works .projects .card .btn {
    display: none;
  }

  .recent-works .projects .card:hover {
    background-image: url(./images/project_bg_pro_w.jpg);
  }
  .recent-works .projects .card:hover .heading,
  .recent-works .projects .card:hover .blurb,
  .recent-works .projects .card:hover .badges {
    display: none;
  }

  .recent-works .projects .card:hover .btn {
    display: inline-block;
  }
}

/* About Section */
.about {
  position: relative;
  top: 100vh;
  width: 100vw;
  background-color: var(--bg-black);
  margin-top: 7rem;
  background-image: url(./images/about_bg_m.png);
  background-repeat: no-repeat;
  background-position: right 0 top 28rem;
}

@media screen and (min-width: 768px) {
  .about {
    background: var(--bg-black) url(./images/about_bg_d.png) no-repeat top 9.5rem right;
    background-size: 40%;
  }

  .about .resume {
    width: 50%;
  }

  .about .resume .blurb {
    font-size: 2rem;
    line-height: 3.2rem;
  }

  .about .resume .btn {
    margin-top: 1.2rem;
  }
}

.about .hero {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 9rem 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
}

.about .hero .btn {
  width: fit-content;
}

.about .divider {
  border: 1px solid var(--white-font);
  background-color: var(--bg-black);
  width: 100%;
  margin-bottom: 7rem;
}

.about .skills {
  background-image: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.4rem;
}

@media screen and (min-width: 768px) {
  .about .skills {
    justify-content: space-between;
    gap: 11.5rem;
  }
}

.skills .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  list-style: none;
  padding: 1rem 0;
  flex: 1;
}

@media screen and (min-width: 768px) {
  .skills .list {
    align-items: flex-start;
    padding: 1rem  0 1rem 4.8rem;
  }
}

.skills .list .label {
  font-size: 3.2rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  transform: translateX(-1.2rem);
}

.skills .list .label::before {
  content: '';
  background-color: var(--primary-color);
  width: 1.8rem;
  height: 1.8rem;
}

.skills .list .label--1::before {
  transform: rotate(45deg);
}

.skills .list .label--3::before {
  border-radius: 5rem;
}

.skills .list .item {
  font-size: 2.2rem;
}

/* Footer */
.footer {
  position: relative;
  top: 100vh;
}

/* contact form */
.contact {
  display: flex;
  flex-wrap: wrap;
  padding: 7rem 0;
  gap: 2.4rem;
}

.contact h2 {
  color: var(--dark-font-color);
  flex: 1;
  font-size: 3.2rem;
  line-height: 4.5rem;
  padding-bottom: 1.2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contact h2 {
    color: var(--form-blurb-color);
    font-size: 4rem;
    line-height: 5.2rem;
    text-align: left;
    flex: 1;
  }

  .contact .form {
    flex: 1;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
}

.form .text {
  border-bottom: 1px solid var(--hero-icon-color);
  font-size: 1.5rem;
  padding: 1.5rem;
  width: 100%;
}

.form .text::placeholder {
  color: var(--form-text-color);
  font-weight: 100;
  opacity: 0.8;
}

.firstName,
.lastName {
  display: none;
}

.form .area {
  background-color: var(--area-bg-color);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  height: 12rem;
  padding: 1.2rem;
  width: 100%;
}

.area::placeholder {
  color: var(--header-color);
  font-family: inherit;
  font-style: italic;
  font-weight: 500;
}

.form button {
  align-self: center;
  margin-bottom: space(4.75);
}

@media screen and (min-width: 768px) {
  .form button {
    align-self: flex-start;
  }
}

.footer .divider {
  grid-column: full-start / full-end;
  border-top: 1px solid var(--hero-icon-color);
}

.footer .socials {
  margin: 1.2rem 0 2.4rem;
}

@media screen and (min-width: 768px) {
  .footer .socials {
    margin-bottom: 1.2rem;
  }
}

footer .socials .icon {
  fill: var(--footer-icon-color);
}

.home-indicator {
  border-top: 5.5px solid var(--form-blurb-color);
  border-radius: 50px;
  margin: 1.2rem 7rem 0.6rem;
}

@media screen and (min-width: 768px) {
  .home-indicator {
    display: none;
  }
}
